body,html{
    height:100%;
    width:100%;
    margin:0px;
}
.addTodoPage{
    height:100%;
    width:100%;
    background-image:url("img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    margin:0;
}
.addTodoMain{
    position: fixed;
    width:55%;
    height:100%;
    margin-left:22.5%;
    background-image:linear-gradient(to bottom, rgba(255,0,0,0),rgb(0, 204, 255));
    border-radius:10px;
}
.addTodoHead{
    width:60%;
    text-align: center;
    margin-left: 20%;
    margin-top: 5%;
}
.todoTopic{
    width:70%;
    height:8%;
    margin-top:5%;
    margin-left: 15%;
    border-radius: 30px;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 5%;
    color:rgb(18,65,89);
    outline:none;
}
.todoInfo{
    width:70%;
    height: 8%;
    margin-top:5%;
    margin-left:15%;
    border-radius: 30px;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 5%;
    color:rgb(18,65,89);
    outline: none;
}
.timeOfTodo{
    width:70%;
    height: 8%;
    margin-left:15%;
    margin-top:2%;
    border-radius: 30px;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 5%;
    color:rgb(18,65,89);
    outline: none;
}
.labelTime{
    margin-top:5%;
    width:70%;
    margin-left:15%;
    font-size: 20px;
}
.newTodos{
    text-align: center;
    width:70%;
    height: 8%;
    margin-top:10%;
    margin-left:15%;
    border-radius: 30px;
    font-size: 22px;
    box-sizing: border-box;
    border:none;
    background-color:rgb(18,65,89);
    color:white;
    outline: none;
}
@media screen and (max-width:550px){
    .addTodoMain{
        width:100%;
        margin-left: 0;
    }
    .addTodoHead{
        margin-top:23%;
    }
    .todoTopic{
        font-size:20px;
    }
    .todoInfo{
        font-size:20px;
    }
    .timeOfTodo{
        font-size: 20px;
    }
    .labelTime{
        font-size: 20px;
    }
    .newTodos{
        font-size: 20px;
    }

}